[user]
	name = jordanbrauer
	email = 18744334+jordanbrauer@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = trunk
[alias]
	ls = status -sb
    adog = log --all --decorate --oneline --graph

[includeIf "gitdir:~/Code/neo/"]
    path = ~/.gitconfig.neo
