(
    selected_tab: Some("#1bfd9c"),
    command_fg: Some("White"),
    selection_bg: Some("#303030"),
    selection_fg: Some("White"),
    cmdbar_bg: Some("Reset"),
    cmdbar_extra_lines_bg: Some("Reset"),
    disabled_fg: Some("#585858"),
    diff_line_add: Some("#baffc9"),
    diff_line_delete: Some("Red"),
    diff_file_added: Some("Green"),
    diff_file_removed: Some("#ffb3ba"),
    diff_file_moved: Some("#4b8902"),
    diff_file_modified: Some("#ffffba"),
    commit_hash: Some("#b2d8d8"),
    commit_time: Some("#b2d8d8"),
    commit_author: Some("#c0c0c0"),
    danger_fg: Some("Red"),
    push_gauge_bg: Some("Blue"),
    push_gauge_fg: Some("Reset"),
    tag_fg: Some("#b2d8d8"),
    branch_fg: Some("#c0c0c0"),
)
