theme = "darkvoid"

[editor]

bufferline = "multiple"
line-number        = "relative"
rulers             = [80]
mouse              = false
true-color         = true
color-modes        = true
file-picker.hidden = false
shell              = ["nu", "--stdin", "-c"]

end-of-line-diagnostics        = "hint"
inline-diagnostics.cursor-line = "error"

[editor.statusline]

separator = "│"

left   = ["mode", "spacer", "version-control", "spinner"]
center = ["file-name", "file-modification-indicator"]
right  = ["diagnostics", "position", "position-percentage", "primary-selection-length", "selections", "file-encoding", "file-line-ending", "file-type"]

mode.normal = "λ NORMAL"
mode.insert = "λ INSERT"
mode.select = "λ SELECT"

[editor.indent-guides]

render      = true
character   = "┊"
skip-levels = 1

[keys.normal]

esc     = ["collapse_selection", "keep_primary_selection"]
ret     = ["goto_word"]
space.n = [":sh echo %{buffer_name} | pbcopy"]
space.N = [":sh [(pwd) %{buffer_name}] | path join | pbcopy"]
space.W = [":sh [(pwd) (echo %{buffer_name} | path parse | get parent)] | path join | pbcopy"]
space.O = [":sh gh browse %{buffer_name}"]
space.B = [":sh git blame -L %{selection_line_start},%{selection_line_end} %{buffer_name}"]

space.e = ["file_explorer_in_current_buffer_directory"]
space.E = [
    ":write-all",
    ":noop %sh{kitty @ launch --type=overlay --cwd=(echo [(pwd) (echo %{buffer_name} | path parse | get parent)] | path join) /opt/homebrew/bin/nu -c yazi .}",
    ":redraw", 
    ":reload-all"
]
